<div class="container">
    <div class="page-header">
        <h1>編輯收入明細</h1>
    </div>
    <div>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputName2" placeholder="2017">
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option>桃鶯和氣</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option>請選擇</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> 隊
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> 組
                </label>
            </div>
            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> 搜尋</button>
            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> 查詢本次總額</button>
        </form>
        <div>
        	<div id="grid1" ui-grid="gridOptions"  class="grid"></div>
        </div>
    </div>
</div>